{% extends "base.html" %}
{% block title %}Contact Form{% endblock %}
{% block content %}
<h1>Sample Form</h1>

<form action="" method="post">
  <input type="hidden" name="secretstuff" value="dontlookhere">
  <div class="form-group">
    <label for="inputName">Name</label>
    <input type="text" class="form-control" id="inputName" placeholder="Enter Name" required name="text">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required name="email" value="narf@aol.com">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  <div class="form-group">
    <label for="inputSubject">Subject</label>
    <input type="text" class="form-control" id="inputSubject" placeholder="Enter Subject" required name="text">
  </div>
  <div class="form-group">
    <label for="inputSubject">Message</label>
    <input type="text" class="form-control" id="inputMessage" placeholder="Enter Message" required name="text">
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name="checkbox">
      Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
