<!DOCTYPE html>
<html>
  <head>
    <title>Richie Wong</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/index.css"/>
    <style>
    .text {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
    }
    </style>
  </head>

  <body>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="homepage">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tv_shows">TV Shows</a>
      </li>
    </ul>

      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h1>Travel</h1>
          </div>
        </div>
        <div class="row text">
          <div class="col-sm-12 col-md-6">
            Coachella - Indio, California
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sagittis at nibh at accumsan. Sed convallis, quam eu dignissim convallis, lacus diam aliquam erat, rutrum auctor eros risus in quam. Phasellus et pellentesque odio. Pellentesque a auctor dolor. Fusce fermentum ante justo, nec dapibus risus consectetur sed. Nunc eu ex id neque scelerisque molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut varius, ipsum ut lacinia fringilla, nulla nisl malesuada urna, dignissim sollicitudin turpis nunc elementum urna. Nulla sed ante vel sapien malesuada euismod vel eget orci. Donec a neque vitae nibh scelerisque cursus vitae eget ante. Mauris consequat lorem sed mi hendrerit placerat. Ut malesuada quam sit amet est aliquet aliquam. Vestibulum metus ex, interdum ac porttitor sed, posuere et ipsum. In aliquam neque lacus, ac facilisis lorem convallis vel. Nam eu pellentesque tortor, non pretium nunc.
            </p>
          </div>
          <div class="col-sm-12 col-md-6">
            <img src="static/images/coachella.jpg" alt="Coachella" style="width:100%; height:auto;">
          </div>
        </div>
        <div class="row text">
          <div class="col-sm-12 col-md-6">
            Disney World - Orlando, Florida
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel nulla ut nisi auctor vulputate non id magna. Praesent blandit pellentesque sapien ut pulvinar. Pellentesque sit amet felis condimentum, hendrerit dui sit amet, congue enim. Pellentesque lobortis erat vel nunc mollis, nec tincidunt lorem mollis. In consequat pretium justo, sed pellentesque mauris. Vivamus turpis massa, malesuada sit amet tempus a, tempor sed augue. Ut maximus porttitor lacus. Mauris turpis neque, tristique sed ligula ornare, ullamcorper sagittis dui. Nam nec ex sodales, dapibus lacus vitae, consectetur tortor. Nam congue nulla in tincidunt pellentesque. Integer tincidunt elementum mauris ut pellentesque. Vivamus a orci euismod, accumsan erat vitae, rhoncus diam. Mauris pellentesque, risus ut dictum sollicitudin, nisi lorem ullamcorper est, ac elementum felis leo ut sapien.
            </p>
          </div>
          <div class="col-sm-12 col-md-6">
            <img src="static/images/disney world.jpg" alt="Disney World" style="width:100%; height:auto;">
          </div>
        </div>
        <div class="row text">
          <div class="col-sm-12 col-md-6">
            Waikiki, Hawaii
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur justo ac velit fermentum, ac varius justo elementum. Maecenas sit amet justo egestas, aliquam turpis vel, lobortis diam. Mauris vitae fringilla dolor. Nam imperdiet dui a sagittis ultricies. Nullam finibus nunc sed volutpat viverra. Aliquam libero ex, volutpat sed aliquam quis, egestas at enim. Curabitur consectetur, felis et efficitur ornare, odio eros pulvinar dolor, in luctus ante velit quis massa. Quisque imperdiet, ligula in blandit accumsan, turpis ipsum dictum nulla, vel maximus libero leo a est. Ut nec vestibulum risus. Quisque tempus tempor nisi vitae rutrum. Nam condimentum consectetur aliquet. Pellentesque aliquam tristique suscipit. Donec eget erat eget dui tincidunt imperdiet sed sit amet nisi. Nam faucibus, nunc quis hendrerit feugiat, nisi metus hendrerit dolor, eget condimentum enim est quis augue. Praesent et semper nisi.
            </p>
          </div>
          <div class="col-sm-12 col-md-6">
            <img src="static/images/hawaii.jpg" alt="Hawaii" style="width:100%; height:auto;">
          </div>
        </div>
        <div class="row text">
          <div class="col-sm-12 col-md-6">
            New York City, New York
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam efficitur diam sed ex fringilla finibus quis vel enim. Sed at enim nisi. Etiam et lacus quis nibh semper pulvinar eget at odio. Sed a turpis eu justo pharetra pulvinar. Sed consectetur risus ut dui tempor, sit amet tristique elit pretium. Donec posuere lectus vitae ex vehicula, quis dapibus purus lacinia. Aliquam varius lectus sed est sollicitudin, eu tincidunt orci cursus. Etiam blandit volutpat auctor. Donec non faucibus nulla. Praesent mattis fringilla nunc, sit amet ullamcorper diam ultrices et.
            </p>
          </div>
          <div class="col-sm-12 col-md-6">
            <img src="static/images/new york.jpg" alt="New York" style="width:100%; height:auto;">
          </div>
        </div>
      </div>
  </body>
</html>
